@import "./tokens.pcss";
@import "./theme.pcss";
@import "./fonts.pcss";
@import "./animation.pcss";
@import "./utility/index.pcss";
@import "./components/index.pcss";

:root {
  @extend .theme-light;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  @extend .text-m-regular;
  position: relative;
}
